<h1 class="mt-4">Seviço Prestado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Novo</li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()" class="mb-4">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="alertSuccess == true">
                    Serviço Prestado salvo / Atualizado com sucesso.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="alertError == true">
                    <p style="margin: 0;" *ngFor="let erro of errors" class="alertErro">{{ erro }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Cliente: </label>
                    <select class="form-control" 
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="servicoPrestado.idCliente">
                        <option value="">Selecione ...</option>
                        <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                            {{ cliente.nome }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="inputDescricao">Descrição</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="servicoPrestado.descricao" name="descricao" id="inputDescricao"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputData">Data: </label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="servicoPrestado.data" name="data" id="inputData"></div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputValor">Preço:</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="servicoPrestado.valor" name="valor" id="inputValor"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                <button type="button" class="btn btn-danger ml-2" routerLink="/servicos-prestados"><i class="fa fa-arrow-alt-circle-left"></i> Voltar</button>
            </div>
        </div>
    </form>
</div>